/* Border styles for grid */
div[class^="col"]{
    min-height: 50px;
    border: 1px solid black;
}

.row{
    border: 1px dashed red;
} 

body {
    background-color: #FFFAFA;
    font-family: Verdana, sans-serif;
}
/* 
.price {
    font-family: 'Papyrus', fantasy;
} */

/* Icon sizes */
i[class*=" fi-brands-"]:before {
    font-size: 2rem;
    line-height: 1.6;
}

i[class*=" fi-rr-"]:before {
    font-size: 1.6rem;
    line-height: 2;
}

i[class*=" fi-ss-"]:before {
    font-size: 2.5rem;
    line-height: 1;
}

i[class*=" fi fi-rr-heart heart"]:before {
    font-size: 0.5rem;
    line-height: 0.5;
}



* {
    -webkit-text-fill-color: #633B48;
}

div [class^="dropdown"]{
    background-color: #ECE6F0;
}

div [class^="btn"]{
    background-color: #E6DBDF;
    border-color: #633B48;
}

i[class*=" fi-brands-figma"] {
    -webkit-text-fill-color: #B58392;
}

div [class^="accordion-button"]{
    background-color: #F3EBEE;
}

div [class^="accordion"]{
    background-color: #F3EBEE;
}

.accordion-button:not(.collapsed) {
    color: #F3EBEE;
    background-color: #F3EBEE;
}

div [class^="fi fi-ss-circle brown"]{
    -webkit-text-fill-color: #4B3C36;
}

div [class^="fi fi-ss-circle black"]{
    -webkit-text-fill-color: black;
}

div [class^="fi fi-ss-circle burgundy"]{
    -webkit-text-fill-color: #7D5260;
    position: absolute;
}

div [class^="fi fi-ss-circle seashell"]{
    -webkit-text-fill-color: #E7DFE2;
    position: absolute;
}

div [class^="fi fi-rr-heart heart"]{
    -webkit-text-fill-color: white;
    position: absolute;
}



.twitter {
    position: absolute;
    right: 123px;
}

.instagram {
    position: absolute;
    right: 83px;
}

.youtube {
    position: absolute;
    right: 45px;
}

.linkedin {
    position: absolute;
    right: 5px;
}

.burger {
    position: absolute;
    right: 30px;
    z-index: 10;
}

.burgundy {
    position: absolute;
    left: 100px;
    top: 70px;
    z-index: 2;
}

.seashell {
    top: 6px;
    right: 22px;
}

.heart {
    position: absolute;
    left: 106px;
    top: 65px;
    z-index: 5;
}

h2 {
    position: absolute;
    left: 5px;
}

img {
    position: relative;
    left: 75px;
}